wifi_ssid: "your 2.4 wifi name"
wifi_password: "your wifi password"
wifi_fallback_hostpot_ssid: "Your Fallback Hotspot"
wifi_fallback_hostpot_password: "Your Fallback Hotspot password"
web_server_username: "your web server username"
web_server_password: "your web server password"
ota_password: "your ota password"
api_password: "your api password"